<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened><app-navigation></app-navigation></mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
