<mat-list class="navigation-list" fxFlex  [style.margin-top]="'52px'" >
  <mat-list-item>
    <div fxFlex fxFlexOffset="10px" fxLayoutAlign="center start"  >
      <a href="/">
        <img width="150" src="../../assets/images/logo.png" />
      </a>
    </div>
    </mat-list-item>

  <mat-divider [style.margin-top]="'52px'"></mat-divider>
    <mat-list-item >
      <mat-icon mat-list-icon>language</mat-icon>
      <a routerLink="/"> <div mat-line>Web API version</div> </a>
</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>wifi_tethering</mat-icon>
      <a routerLink="/rabbit"><div mat-line>RabbitMq Version</div></a>
</mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
