/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html,
body,
material-app,
mat-sidenav-container {
  width: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  font-family: "Poppins";
}


.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 4px;
}

.alert-danger {
  background-color: tomato;
}

.actions-column {
  text-align: right;
}

.action-button {
  margin-left: 5px;
}

.snackbar-success {
  background-color: green;
  color: white;
  white-space: pre-wrap;
}

.snackbar-error {
  background-color: red;
  color: white;
  white-space: pre-wrap;
}

.mat-drawer-container {
  background-color: white;
}

table {
  width: 100%;
}

.mainLayout {
  padding: 30px;
  min-height:90vh;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-outline {
  margin-bottom: 20px !important;
}


.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}

.inputMaterial{
    margin-top:40px;
    width:100%;
    
}

a{ color:#2d2d2d; text-decoration:none; transition: all .3s;}
a:hover{ color:#808080};


