<div class="mainLayout">
  <mat-toolbar class="titleToolbar">RabbitMq Version</mat-toolbar>


  <div fxLayout="column" fxFlexFill fxLayoutGap="10px">
    <form [formGroup]="form">
      <mat-form-field class="inputMaterial">
        <mat-label>ToDo Message</mat-label>

        <input type="text" matInput placeholder="Write Something..." formControlName="message" required>
        <button type="button" (click)="sendToDoItem()" matSuffix mat-icon-button [disabled]="form.invalid">
          <mat-icon>add_task</mat-icon>
        </button>
      </mat-form-field>

    </form>

    <mat-action-list role="list">
      <div *ngFor="let item of toDoListData">
        <button *ngIf="item.isCompleted == false" matTooltip="Click, if it's done!" (click)="completeToDoItem(item.id, item.toDoPost)"><mat-list-item role="listitem"><mat-icon>turned_in</mat-icon> {{item.toDoPost}}</mat-list-item></button>
      </div>
    </mat-action-list>


  </div>

  <mat-toolbar class="titleToolbar inputMaterial">Completed Tasks</mat-toolbar>

  <div fxLayout="column" fxFlexFill fxLayoutGap="10px">

    <mat-action-list role="list">
      <div *ngFor="let item of toDoListData">
        <button *ngIf="item.isCompleted == true" matTooltip="Remove This!" > <mat-list-item role="listitem" (click)="deleteToDoItem(item.id)"><mat-icon>done</mat-icon> {{item.toDoPost}}</mat-list-item></button>
      </div>
    </mat-action-list>


  </div>

</div>

